<%= stylesheet_link_tag 'about', :media => "all" %>
<div class="background">
    <h4>アイコンについて</h4>
    <div class="main">
        <div class="explain">
            <p>0～19レベル</p>
                <%= image_tag 'さくらんぼの無料アイコン.svg', size: "50x50"%>
            <p>20～39レベル</p>
                <%= image_tag 'スイカの無料アイコン.svg', size: "50x50"%>
            <p>40～59レベル</p>
                <%= image_tag 'バナナの無料アイコン9.svg', size: "50x50"%>
            <p>60～79レベル</p>
                <%= image_tag '葡萄のフリーアイコン.svg', size: "50x50"%>
            <p>80～99レベル</p>
                <%= image_tag "テカテカしたリンゴのイラスト.svg", size: "50x50"%>
        </div>
        <div class="explain">
            <p>100～119レベル</p>
                <%= image_tag 'さくらんぼの無料アイコン (1).svg', size: "50x50"%>
            <p>120～139レベル</p>
                <%= image_tag 'スイカの無料アイコン (1).svg', size: "50x50"%>
            <p>140～159レベル</p>
                <%= image_tag 'バナナの無料アイコン9 (1).svg', size: "50x50"%>
            <p>160～179レベル</p>
                <%= image_tag '葡萄のフリーアイコン (1).svg', size: "50x50"%>
            <p>180～199レベル</p>
                <%= image_tag "テカテカしたリンゴのイラスト (1).svg", size: "50x50"%>
        </div>
        <div class="explain">
            <p>200～219レベル</p>
                <%= image_tag 'さくらんぼの無料アイコン (2).svg', size: "50x50"%>
            <p>220～239レベル</p>
                <%= image_tag 'スイカの無料アイコン (2).svg', size: "50x50"%>
            <p>240～259レベル</p>
                <%= image_tag 'バナナの無料アイコン9 (2).svg', size: "50x50"%>
            <p>260～279レベル</p>
                <%= image_tag '葡萄のフリーアイコン (2).svg', size: "50x50"%>
            <p>280～299レベル</p>
                <%= image_tag "テカテカしたリンゴのイラスト (2).svg", size: "50x50"%>
        </div>
    </div>
</div>