<%= stylesheet_link_tag 'new', :media => "all" %>




<h3>新規投稿</h3>
<%= form_for @tweet do |f| %>
  <div class="main">
    <div class="field">
      <div class="subject">
        <%= f.label :科目 %>
        <%= f.text_field :subject, :size => 30 %>    
      </div>
      <div class="time">
        <%= f.label :時間 %>
        <%= f.number_field :time, :size => 40, :placeholder =>"半角で入力してください"  %>
      </div> 
      <div class="image">
        <%= f.label :画像 %>
        <%= f.file_field :image %>
      </div>
      <div class="submit">
        <input type="submit" value="投稿する" class="example2">
      </div>
    </div>
  </div>

  
  
<% end %>
